<mat-card [formGroup]="fieldset">
  <mat-card-header>
    <mat-card-title>Entidad</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex="auto">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" >
          <mat-error *ngIf="nombre.hasError('required')">Debe completar valor</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="auto">
        <mat-form-field>
          <mat-label>Alias</mat-label>
          <input matInput formControlName="alias" >
          <mat-error *ngIf="alias.hasError('required')">Debe completar valor</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="auto">
        <app-input-autocomplete [field]="sistema" [entityName]="'sistema'"></app-input-autocomplete>
      </div>
      <!--div class="form-group row">
    <label class="col-sm-2 col-form-label">Sistema</label>
    <div class="col-sm-10">
        <div *ngIf="(sistema.touched || sistema.dirty) && sistema.invalid">
          <mat-error *ngIf="sistema.hasError('required')">Debe completar valor</mat-error>
        </div>
    </div>
  </div-->
    </div>
  </mat-card-content>
</mat-card>
