<form [formGroup]="adminForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
  <app-entidad-fieldset [form]="adminForm" [data$]="data$"></app-entidad-fieldset>

  <button mat-raised-button [disabled]="adminForm.pending && isSubmitted" type="submit" color="primary">Aceptar</button>&nbsp;
  <button mat-mini-fab color="accent" type="button"  (click)="back()"><mat-icon>keyboard_backspace</mat-icon></button>
  <button mat-mini-fab color="accent" type="button" (click)="reset()"><mat-icon>clear_all</mat-icon></button>
  <button mat-mini-fab color="accent" type="button" (click)="clear()"><mat-icon>add</mat-icon></button>
  <button mat-mini-fab color="warn" type="button" [disabled]="isDeletable" (click)="delete()"><mat-icon>delete</mat-icon></button>

  <!--p>Debug Form value: {{ adminForm.value | json }}</p>
  <p>Debug Form status: {{ adminForm.status | json }}</p-->
</form>
